@import 'variables';

body {
    background-color: $dashboard-body-color;
}

::-webkit-scrollbar {
    width: 3px; height: 3px; background-color: $dashboard-body-color;
    z-index: 5;
}

::-webkit-scrollbar-thumb {
    background-color: $dashboard-scroll-color; border-radius: 3px; 
    z-index: 5;
}

/*-----------------------------
              MENU
-----------------------------*/

.dashboard__menu {
    position: fixed; display: flex; flex-direction: column;
    width: 200px; height: 100vh;
    background-color: $dashboard-menu-color;

    .menu__group {
        position: relative; display: flex; flex-direction: column;
        width: 100%; margin-top: 20px;

        .group__title {
            position: relative;
            margin: 0 0 5px 10px;
            color: $dashboard-font-title-color;
            text-transform: uppercase;
            font-size: $font-size-small;
        }

        .group__item {
            position: relative; display: flex;
            padding: 5px 5px 5px 10px;

            a {
                position: relative;
                color: white;
                font-size: $font-size-small;
                opacity: .9;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .active {
            background-color: $dashboard-menu-title-active-color;
        }
    }

}

/*-----------------------------
            CONTENT
-----------------------------*/

.content {
    position: relative; width: calc(100% - 200px);
    margin-left: 200px;
}