* {
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.w-5, .px-2 {
  display: none;
}

body {
  background-color: #262a2d;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #262a2d;
  z-index: 5;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 3px;
  z-index: 5;
}

/*-----------------------------
              MENU
-----------------------------*/
.dashboard__menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: #383c3d;
}
.dashboard__menu .menu__group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.dashboard__menu .menu__group .group__title {
  position: relative;
  margin: 0 0 5px 10px;
  color: #b4b4b4;
  text-transform: uppercase;
  font-size: 12px;
}
.dashboard__menu .menu__group .group__item {
  position: relative;
  display: flex;
  padding: 5px 5px 5px 10px;
}
.dashboard__menu .menu__group .group__item a {
  position: relative;
  color: white;
  font-size: 12px;
  opacity: 0.9;
  text-decoration: none;
}
.dashboard__menu .menu__group .group__item a:hover {
  text-decoration: underline;
}
.dashboard__menu .menu__group .active {
  background-color: #4e5455;
}

/*-----------------------------
            CONTENT
-----------------------------*/
.content {
  position: relative;
  width: 1500px;
  left: 300px;
  top: 200px;
}
.content h2 {
  position: relative;
  bottom: 10px;
  color: white;
}
.content .history {
  position: relative;
  width: 100%;
}
.content .history a {
  position: relative;
  color: #b4b4b4;
  text-decoration: none;
}
.content .history a:hover {
  text-decoration: underline;
}
.content table {
  border-collapse: collapse;
  margin-top: 20px;
  border-spacing: 0;
  font-size: 11px;
  color: white;
}
.content table th {
  position: relative;
  border: 1px solid #666666;
  max-width: 180px;
  min-width: 80px;
  height: 35px;
  text-align: left;
  font-weight: 400;
}
.content table th p {
  position: relative;
  margin: 0 10px;
  opacity: 0.5;
}
.content table td {
  position: relative;
  border: 1px solid #666666;
  max-width: 200px;
  min-width: 80px;
  height: 35px;
}
.content table td p {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}
.content table td a {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.content table td a:hover {
  text-decoration: underline;
}
.content table .non-border-left {
  border-left: none;
}
.content table .non-border-right {
  border-right: none;
}
.content table tr .line {
  position: absolute;
  width: 1500px;
  height: 1px;
  background-color: #666666;
}
.content table tr .line:first-child {
  top: -1px;
}
.content table tr .line:last-child {
  bottom: -1px;
}
.content form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.content form input {
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
}
.content form select {
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
}
.content form button {
  position: relative;
  height: 30px;
}
.content .cards {
  position: relative;
  width: 100%;
}
.content .cards a {
  position: relative;
  color: white;
  text-decoration: none;
}
.content .cards a:hover {
  text-decoration: underline;
}
.content .error__item {
  position: relative;
  color: red;
  margin-bottom: 20px;
  font-weight: 700;
}
